body {
    color: #fff;
    font-family: 'Calistoga', cursive;
    margin: 0;
    padding: 0;

    background: hsla(350, 73%, 44%, 1);
    background: linear-gradient(90deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C11E38", endColorstr="#220B34", GradientType=1 );
}

.info__juego {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.game__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
}

canvas {
    border: 4px solid #F9A620;
    border-radius: 8px;
    background:#FFD449;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

button {
    color: #211A1D;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #FFD449;
    border-radius: 8px;
    border-color: #F9A620;
    font-family: inherit;
    font-size: 16px;
    margin: 0;
    padding: 5px 20px;
    width: 120px;
    height: 38px;
}

button:not(:last-child) {
    margin-right: 10px;
}

.messages {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 460px;
}

p {
    display: block;
    margin: 0;
    width: 100%;
}

@media (max-width: 620px) {

    .info__juego h1 {
        font-size: 28px;
    }

    #up,
    #down {
        margin-left: 100%;
        margin-right: 100%;
    }
}